<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<!-- console로 log 남기기 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
               	 ▶ %-5level %d{HH:mm:ss.SSS} [%thread] %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>
 
	<!-- file로 log 남기기 -->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>.\logs\DSIssueSystem.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- d:\ testRollingFile 2015-04-07-15.log 파일 생성 -->
            <fileNamePattern>.\logs\DSIssueSystem..%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <!-- 30시간 지난건 지우겠다. -->
            <maxHistory>100</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
               	 ▶ %-5level %d{HH:mm:ss} %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <appender name="err" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>.\logs\DSIssueSystemErr.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- d:\ testRollingFile 2015-04-07-15.log 파일 생성 -->
            <fileNamePattern>.\logs\DSIssueSystem.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <!-- 30시간 지난건 지우겠다. -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
               	 ▶ %-5level %d{HH:mm:ss} %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter"> 
        	<level>WARN</level> 
		</filter> 
        
    </appender>
        
    <logger name="java.lang.Exception" lavel="error">
    	<appender-ref ref="err" />
    </logger>    
   	<root level="debug">
        <appender-ref ref="console" />
        <appender-ref ref="info" />
        <appender-ref ref="err" />        
    </root>
</configuration>

